{% extends "shared/_layout.html" %}
{% block title %}About PyPI Demo{% endblock %}

{% block main_content %}
    <div class="form-container">
        <form action="" method="POST" class="account-form">
            <h1>Login to PyPI</h1>

            <input name="email" type="text" placeholder=" Your email address" class="form-control" value="{{ email }}">
            <input name="password" type="password" placeholder=" Password" class="form-control" value="{{ password }}">
            <button type="submit" class="btn btn-danger">Register</button>
            <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}