.items .item {
  background: #76f6d5;
  border: 1px solid #21a180;
  border-radius: 5px;
  display: inline-block;
  width: 200px;
  padding: 5px;
  margin: 10px;
}
.items .item h2 {
  text-align: center;
}
.items .item .text {
  color: #21a180;
  text-align: center;
}
