<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recent Tweets</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
<h1>Your tweets</h1>

{% for t in recent_tweets %}
    <div class="tweet">

        <div class="text"><em>{{ t.text }}</em></div>
        <div class="name">{{ t.name }}</div>

    </div>
{% endfor %}

</body>
</html>